<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Headroom</string>
	<key>CFBundleIconFile</key>
	<string>Headroom</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.peytonnowlin.Headroom</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Headroom</string>
	<key>CFBundleDisplayName</key>
	<string>Headroom</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD__</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/PeytonNowlin/Headroom/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>yGVx6MMKrTsyimGBbdvw/UdD8Ysj46zzdPa99UcFJJg=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
</dict>
</plist>
